<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>


    </head>

    <body>
        <div class="jsonData">
            <%= pageTitle %>
        </div>
        <div class="bodyWrapper">

        </div>

    </body>


    <script type="text/javascript">

    </script>

    <link rel="stylesheet" href="static/views/css/style.css">
    <script src="static/views/js/helper_function.js" charset="utf-8"></script>
    <script src="static/views/js/main.js" charset="utf-8"></script>

</html>
