.row{
    display:grid;

    width: 90%;
    margin-left: auto;
    margin-right: auto;


}

.timer_info{
    color: red;
}
.time {
    // width: 10vw;
}
.host, .channel{
    margin-bottom: 10px;
    padding: 5px;
    // width: 20vw
}

.channel {
    background: gold;
    // width: 20vw
}

.host_0 {
    background: AliceBlue
}

.host_1 {
    background: DarkSeaGreen
}

.host_2{
    background: DeepSkyBlue
}
